@page "/VistaDeMercadeoUser"

@using Portal_Empleos_ESFE.Models;
@using Portal_Empleos_ESFE.Service;

@using System.Net.Http.Json;
@using System.Threading.Tasks;
@using Portal_Empleos_ESFE.Service.Mercadeo;

@inject IMercadeoService service


@* Logo y Titulo del Nav-Menu *@

<NavMenu />

<br />
<br />

@if (mercadeoMostrar == null)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{


    <br />
    <br />

    <div class="container">
        <h1 class="text-center" style="font-weight: bold">Tecnico en Mercadeo</h1>
    </div>

    <br />
    <br />
    @foreach (var result in mercadeoMostrar)
    {
        <div class="container text-center" style="box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.2), 8px -8px 20px -6px rgba(0, 0, 0, 0.2), -8px 8px 20px -6px rgba(0, 0, 0, 0.2), 8px 8px 20px -6px rgba(0, 0, 0, 0.2);">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="@result.Imagen" class="card-img-top mt-2" alt="Imagen">
                        <div class="card-body">
                            <h5 class="card-title"> @result.Titulo</h5>
                            <p class="card-text">
                                @result.Descripcion
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <NavLink style="width:300px; height:40px; " class=" btn btn-primary mb-1" href="*">
                <span style="font-size:23px;" aria-hidden="true">Aplicar</span>
            </NavLink>
            <br />
            <br />
        </div>
        <br />
        <br />
    }
}

<Footer />



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        
        collapseNavMenu = !collapseNavMenu;
    }

    //Consumo de la API
    private List<MercadeoModel> mercadeoMostrar;

    protected override async Task OnInitializedAsync()
    {
        mercadeoMostrar = await service.Get();
    }
}