@page "/VistaPrincipalUser"

@* Logo y Titulo del Nav-Menu *@

<NavMenu />

<br />
<br />
<br />
<br />

<div class="container">
    <h1 class="text-center" style="font-weight: bold">Descubre Nuevas Oportundiades</h1>
</div>

<br />
<br />
<div class="container px-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <br />
                    <img src="/img/esfe.png" class="card-img-top mx-auto my-auto" alt="Imagen" style="width:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Nuevas Ofertas Laborales Disponibles!!</h5>
                        <p class="card-text">
                            Novedades <br />  Mantente al tanto de las últimas noticias laborales que importan.
                            Con ESFE, nuestra aplicación de publicación de ofertas de trabajo, recibirás actualizaciones
                            ¡Encuentra el trabajo de tus sueños con información actualizada y relevante en Portal Empleos ESFE!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container ">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card shadow-lg">
                    <br />
                    <img src="/img/icono-youtube.png" class="card-img-top mx-auto my-auto" alt="Imagen" style="width:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Como usar la App?</h5>
                        <p class="card-text">
                            Tutorial <br />  Para poder utilizar la app "Portal Empleos ESFE" puedes aventurarte en ella o tambien puedes ver el
                            siguiente tutorial para el manejo de la app y que puedas adaptarte a ella de manera mas facil  <a href="/"> Link para Tutorial </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <br />
                    <img src="/img/esfe.png" class="card-img-top mx-auto my-auto" alt="Imagen" style="width:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Recuerda checar todos los dias la App!!</h5>
                        <p class="card-text">
                            Novedades <br />  Semanalmente se subira nuevas ofertas de empleo para que puedas estar al tanto de cada
                            uno de ellas y asi poder aprovechar dichas oportunidades para tu carrera, recuerda estar pendiente siempre de las
                            nuevas actualizaciones en Portal Empleos ESFE!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <br />
                    <img src="/img/esfe.png" class="card-img-top mx-auto my-auto" alt="Imagen" style="width:100px;">
                    <div class="card-body">
                        <h5 class="card-title">Busca en la seccion correspondiente a tu carrera!!</h5>
                        <p class="card-text">
                            Novedades <br />  Para encontrar las ofertas de manera mas agil y a la mano para cada estudiante egresado
                            selecciona tu carrera en el menu superior para mostrar todas las ofertas de empleo que estan disponibles
                            para cada carrera en Portal Empleos ESFE!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<Footer />

