@page "/VistaPrincipalUser"

<div class="top-row ps-3 navbar navbar-dark" style="background-color:rgb(78,115,223);margin-left:-25px; width:463px; margin-top:-18px;">
	<div class="container-fluid">
		<div class="d-flex align-items-center">
			<img src="img/esfe.png" class="me-3" style="width:50px;" alt="Logo ESFE">
			<a class="navbar-brand me-3" href="">Portal Empleos ESFE</a>
		</div>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color:rgb(78, 115, 223, 0.2);margin-left:-25px; width:463px;">
	<nav class="flex-column" style="padding-bottom:10px; padding-top:10px;">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Técnico en Ingeniería Electrica
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Técnico en Mercadeo
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Técnico en Gestion y Desarrollo Turistico
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Técnico en Ingeniería de Desarrollo de Software
			</NavLink>
		</div>
	</nav>
</div>

<footer class="text-center fixed-bottom">
	<p>&copy; 2023 ESFE/Agape <br />  Todos los derechos reservados.</p>
</footer>


@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
