@page "/VistaPrincipalUser"

<div class="top-row ps-3 navbar navbar-dark" style="background-color:rgb(78,115,223)">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Portal Empleos ESFE</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Tec. Electrica
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Tec. Mercadeo
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Tec. Desarrollo Turistico
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Tec. Desarrollo de Software
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
