@page "/VistaDeSoftwareUser"

@* Logo y Titulo del Nav-Menu *@

<NavMenu />

<br />
<br />

<div class="container">
    <h1 class="text-center" style="font-weight: bold">Tecnico en Ingenieria Software</h1>
</div>

<br />
<br />
<div class="container" style="box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.2), 8px -8px 20px -6px rgba(0, 0, 0, 0.2), -8px 8px 20px -6px rgba(0, 0, 0, 0.2), 8px 8px 20px -6px rgba(0, 0, 0, 0.2);">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/img/fondo.png" class="card-img-top" alt="Imagen">
                <div class="card-body">
                    <h5 class="card-title">Tu Fuente de Noticias Laborales Relevantes</h5>
                    <p class="card-text">
                        JobSpot <br />  Mantente al tanto de las últimas noticias laborales que importan.
                        Con JobSpot, nuestra aplicación de publicación de ofertas de trabajo, recibirás actualizaciones diarias
                        ¡Encuentra el trabajo de tus sueños con información actualizada y relevante en JobSpot!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="container" style="box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.2), 8px -8px 20px -6px rgba(0, 0, 0, 0.2), -8px 8px 20px -6px rgba(0, 0, 0, 0.2), 8px 8px 20px -6px rgba(0, 0, 0, 0.2);">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/img/fondo.png" class="card-img-top" alt="Imagen">
                <div class="card-body">
                    <h5 class="card-title">Tu Fuente de Noticias Laborales Relevantes</h5>
                    <p class="card-text">
                        JobSpot <br />  Mantente al tanto de las últimas noticias laborales que importan.
                        Con JobSpot, nuestra aplicación de publicación de ofertas de trabajo, recibirás actualizaciones diarias
                        ¡Encuentra el trabajo de tus sueños con información actualizada y relevante en JobSpot!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<Footer />


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
