@page "/VistaConfiguracionUser"

@* Logo y Titulo del Nav-Menu *@

<NavMenu />

<br />
<br />
<br />

<div class="container" style="box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.2), 8px -8px 20px -6px rgba(0, 0, 0, 0.2), -8px 8px 20px -6px rgba(0, 0, 0, 0.2), 8px 8px 20px -6px rgba(0, 0, 0, 0.2);">
    <br />
    <h1  class="text-center" style="font-weight: bold">Informacion Personal</h1>.
    <div class="row">
        <div class="card">
            <br />
            <div class="col-md-4 d-flex justify-content-center align-items-center">

                <img src="/img/usuario.png" alt="Foto de usuario" width="150" class="img-thumbnail rounded-circle align-items-center">
            </div>
            <br />

            <p>Nombre:</p>
            <h1 class="text-center"> Hector Landro Garcia Lopez</h1>
            <br />
            <p>Carrera:</p>
            <h2 class="text-center"> Tecnico Ingenieria en Desarrollo de software</h2>
            <br />
            <textarea style="height: 150px;" class="form-control" placeholder="Descripción"></textarea>
            <br />
            <div class="col-12 col-md-6 mb-3">
                <div class="card ">
         
                        <a class="btn btn-primary" href="#" style="color: white; font-size: 20px; text-decoration: none; width: 100%; height: 100%; display: block;">
                            Actualizar
                        </a>
                 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card ">

                <a class="btn btn-danger" href="#" style="color: white; font-size: 20px; text-decoration: none; width: 100%; height: 100%; display: block;">
                    Cerrar sesión
                </a>

            </div>
        </div>
        
    </div>
</div>
