@page "/VistaDeElectricalUser"

@using Portal_Empleos_ESFE.Models;
@using Portal_Empleos_ESFE.Service;

@using System.Net.Http.Json;
@using System.Threading.Tasks;
@using Portal_Empleos_ESFE.Service.Electrica;

@inject IElectricaService service

@* Logo y Titulo del Nav-Menu *@

<NavMenu />

<br />
<br />

@if (electricaMostrar == null)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{

    
        <br />
        <br />

        <div class="container">
            <h1 class="text-center" style="font-weight: bold">Tecnico en Ingenieria Electrica</h1>
        </div>

        <br />
        <br />
    @foreach (var result in electricaMostrar)
    {
        <div class="container" style="box-shadow: -8px -8px 20px -6px rgba(0, 0, 0, 0.2), 8px -8px 20px -6px rgba(0, 0, 0, 0.2), -8px 8px 20px -6px rgba(0, 0, 0, 0.2), 8px 8px 20px -6px rgba(0, 0, 0, 0.2);">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="@result.Imagen" class="card-img-top mt-2" alt="Imagen">
                        <div class="card-body">
                            <h5 class="card-title"> @result.Titulo</h5>
                            <p class="card-text">
                                 @result.Descripcion
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    }
}
<Footer />



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Consumo de la API
    private List<ElectricaModel> electricaMostrar;

    protected override async Task OnInitializedAsync()
    {
        electricaMostrar = await service.Get();
    }
}
